/*Element Styling*/

body {
    font-family: 'Century Gothic', 'Tahoma', sans-serif;
    margin: 0 auto;
    padding: 0 0 24px 0;
    min-height: 100vh;
    font-size: 18px;
}

input {
    font-family: 'Century Gothic', 'Tahoma', sans-serif;
    font-size: 0.9em;
    outline: none;
    border: 1px solid #333;
    border-radius: 5px;
    margin: 8px 0 8px 0;
    line-height: 1.4em;
}

input[type=file] {
    border: none;
}

input:focus {
    border: 1px solid #4da6ff;
}

h1,
h2,
h3,
h4,
h5,
h6,
dd,
a,
p,
adress,
aside,
figure,
article,
hgroup,
dl,
dt,
dd {
    padding: 4px 0 4px 0;
    margin: 0;
    text-decoration: none;
    line-height: 1.1em;
}

span,
div {
    margin: 0;
    padding: 0;
    height: auto;
}

h1 {
    font-size: 2.75em;
    margin-right: 8px;
    line-height: 1.1em;
}

h2 {
    font-size: 2.25em;
    margin-right: 8px;
    line-height: 1.1em;
}

h3 {
    font-size: 2em;
    margin-right: 8px;
    line-height: 1.1em;
}

h4 {
    font-size: 1.75em;
    margin-right: 8px;
    line-height: 1.1em;
}

h5 {
    font-size: 1.5em;
    margin-right: 8px;
    line-height: 1.1em;
}

h6 {
    font-size: 1.1em;
    line-height: 1.1em;
}

ol {
    margin-top: 8px;
    margin-bottom: 8px;
    line-height: 1.1em;
}

ul {
    margin-top: 8px;
    margin-bottom: 8px;
    line-height: 1.1em;
}

textarea {
    margin: 8px 0 8px 0;
}


/*Classes*/

.ft-xlg {
    font-size: 3.25em;
}

.ft-lg {
    font-size: 2.75em;
}

.ft-md {
    font-size: 1.75em;
}

.ft-sm {
    font-size: 1em;
}

.ft-bold {
    font-weight: bold;
}

.ft-norm {
    font-weight: normal;
}

.ft-center {
    text-align: center;
}

.tab {
    padding-left: 2%;
}

.pad-lr {
    padding-left: 2%;
    padding-right: 2%;
}

.pad-tb {
    padding-top: 2%;
    padding-bottom: 2%;
}

.pad-light {
    padding: 1%;
}

.pad-med {
    padding: 2.3%;
}

.pad-heavy {
    padding: 5%;
}

.stretch {
    min-width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    display: inline;
}

.inline {
    display: inline;
    vertical-align: bottom;
}

.inline-block {
    display: inline-block;
    vertical-align: bottom;
}

.align-top {
    vertical-align: top;
}

.align-mid {
    vertical-align: mid;
}

.nobreak {
    white-space: nowrap;
}

.button {
    font-family: 'Century Gothic', 'Tahoma', sans-serif;
    margin: 8px 0 8px 0;
    font-size: 0.9em;
    line-height: 1.4em;
    outline: none;
    background-color: #f2f2f2;
    border: 2px solid #333;
    border-radius: 5px;
    text-align: center;
    box-sizing: border-box;
    display: inline-block;
    padding: 1px 6px 1px 6px;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.button:hover {
    -webkit-box-shadow: 0px 2px 16px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 2px 16px -6px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 2px 16px -6px rgba(0, 0, 0, 0.75);
}

.button:active {
    background-color: #333333;
    color: #fff;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}


/* 720px and less - Mobile view */

@media (max-width: 720px) {
    body {
        max-width: 720px;
    }
}


/* 721px to 1280px - Small screen */

@media (min-width: 721px) and (max-width: 1280px) {
    body {
        max-width: 896px;
    }
}


/* 1281px - HD screen */

@media (min-width: 1281px) {
    body {
        max-width: 70%;
    }
}